.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--app-primary);
  color: var(--app-on-primary);
}

.app-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--app-background);
  color: var(--app-on-background);
}
