<mat-toolbar>
  <span class="app-title">Capstone</span>
  <span class="spacer"></span>

  <ng-container *ngFor="let btn of navButtons">
    <button
      mat-button
      *ngIf="btn.show()"
      [routerLink]="btn.link"
      (click)="btn.action?.()"
    >
      {{ btn.label }}
    </button>
  </ng-container>

  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ isDarkTheme() ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
