<div class="login-container">
  <h1 class="auth-title">Login here!</h1>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading()">
      Login
    </button>

    <p *ngIf="error()">{{ error() }}</p>
  </form>
</div>
