@use '@angular/material' as mat;

@include mat.core();

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  background-color: var(--app-background);
  color: var(--app-on-background);
}

/* ------------------- THEME TOKENS ------------------- */
:root[data-theme="light"] {
  --app-primary: #B0BEC5;
  --app-accent: #e91e63;
  --app-warn: #f44336;
  --app-background: #ffffff;
  --app-on-background: #000000;
  --add-button:#455A64;

}

:root[data-theme="dark"] {
  --app-primary: #455A64;
  --app-accent: #ffc107;
  --app-warn: #f44336;
  --app-background: #121212;
  --app-on-background: #ffffff;
}

/* ------------------- MATERIAL OVERRIDES ------------------- */
.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.custom-dialog {
  background-color: var(--app-background) !important;
  color: var(--app-on-background) !important;
  padding: 24px;
  border-radius: 8px;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-origin: top center;
  background: var(--app-background);
  color: var(--app-on-background);
}

.mat-mdc-select-panel-above div.mat-mdc-select-panel {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: bottom center;
  background: var(--app-background);
  color: var(--app-on-background);
}

.mat-mdc-button,
.mat-mdc-slide-toggle .mdc-button,
.mat-mdc-slider .mdc-slider__thumb {
  color: var(--app-primary);
}

/* ------------------- Overlay / Dialog ------------------- */

/* Базовий контейнер діалогу */
.mat-mdc-dialog-container {
  background-color: var(--app-background) !important;
  color: var(--app-on-background) !important;
}

/* Поверхня діалогу (там де inline style часто ставить background) */
.mat-mdc-dialog-surface {
  background-color: var(--app-background) !important;
  color: var(--app-on-background) !important;
  border-radius: 8px;
  padding: 16px;
}

/* Контент і дії в діалозі */
.mat-mdc-dialog-content,
.mat-mdc-dialog-actions {
  color: var(--app-on-background) !important;
}

/* Інпути всередині модалки */
.mat-mdc-form-field {
  .mat-mdc-input-element {
    color: var(--app-on-background) !important;
  }

  .mat-mdc-form-field-label {
    color: var(--app-on-background) !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    color: var(--app-on-background) !important;
  }
}

/* Кнопки у модалці */
.mat-mdc-dialog-actions button {
  background-color: transparent;
  color: var(--app-on-background) !important;
}

button.add-product-btn {
  background-color: #fff !important;
  color: #000 !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}
.cdk-overlay-pane.mat-mdc-dialog-panel {
  width: 400px !important;
}
